body {
  font-family: Open Sans;
  color: #025ba3;
  background-image: linear-gradient(
      180deg,
      rgba(227, 238, 255, 0.9) 0%,
      rgba(230, 237, 251, 0.9) 27.48%,
      rgba(235, 234, 243, 0.9) 50.36%,
      rgba(238, 233, 239, 0.9) 70.31%,
      rgba(242, 232, 234, 0.9) 100%
    ),
    url("../img/cityscape.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 200%;
}

header {
  margin-bottom: 20px;
}

h1 {
  margin: 20px;
  font-family: "Comfortaa", normal;
  font-weight: 700;
  font-size: 35px;
  color: #0f6cb6;
  display: inline;
  vertical-align: middle;
}

input {
  width: 223px;
  height: 38px;
  border: 1px solid #199cd7;
  box-sizing: border-box;
  padding: 5px 30px 5px 5px;
  margin: 15px 0px 5px 20px;
  resize: horizontal;
  background: transparent;
}

h2,
h3,
h4 {
  text-align: center;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.65rem;
}
h5 {
  font-size: 40px;
  margin: 0px;
  font-weight: 700;
}

footer {
  text-align: center;
  margin: 10px 0px;
  font-size: 12px;
}
button.current {
  display: block;
  margin: 15px 0px 5px 20px;
  padding: 5px 30px 5px 15px;

  width: 133px;
  height: 38px;

  background: linear-gradient(
    143.58deg,
    #1aa2db 22.15%,
    #199cd7 43.8%,
    #157dbb 63.29%,
    #0f6cb6 81.54%
  );
  border-radius: 32px;
  border: none;

  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  display: flex;
}

button.search {
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  margin-left: -5px;

  width: 38px;
  height: 38px;

  background: linear-gradient(
    143.58deg,
    #1aa2db 22.15%,
    #199cd7 43.8%,
    #157dbb 63.29%,
    #0f6cb6 81.54%
  );
  border-radius: 1px;
}

.container {
  width: 70%;
  margin: 0px, auto;
  padding-top: 20px;
}
.logo {
  width: 68px;
  height: 69px;
}

.fa-map-marker-alt {
  padding-left: 20px;
}
.card {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  backdrop-filter: blur(
    4px
  ); /* Note: backdrop-filter has minimal browser support */
  border-radius: 17px;
  border: 1px solid #ffffff;
  height: 300px;
}

.units {
  position: relative;
  top: -20px;
  font-size: 1rem;
}
.units a {
  color: #025ba3;
}
.weather-elements {
  margin-top: 75px;
  margin-left: 25px;
  margin-bottom: 0px;
  line-height: 5px;
}
.weather-elements p {
  font-size: 14px;
}
p::first-letter {
  text-transform: capitalize;
}

.weather-element-temp {
  margin-top: 30px;
  margin-right: 25px;
}
.clouddy {
  width: 90%;
  margin: 0, auto;
  padding: 0px;
}

.prediction {
  text-align: center;
  width: 70%;
  margin: auto;
}

.forecast-row {
  margin-top: 40px;
}

.prediction p {
  width: 127px;
  height: 170px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(
    4px
  ); /* Note: backdrop-filter has minimal browser support */
  border-radius: 17px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
.icon {
  padding: 0px;
  margin: 0px;
}
.col-sm img {
  width: 100%;
  margin: 0, auto;
}

/* Small devices (landscape phones, 580px and up) */
@media (max-width: 580px) {
  header {
    text-align: center;
  }

  h1 {
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: block;
    font-size: 40px;
  }
  h2 {
    font-weight: bold;
  }
  form {
    display: inline;
  }

  input {
    resize: horizontal;
    width: 150px;
    margin: 1px;
  }

  footer {
    margin: 15px;
  }

  button.current {
    display: inline;
    padding: 4px 0px 6px 5px;
    margin: 2px;
    font-size: 14px;
  }
  .container {
    width: 100%;
    margin: 0px, auto;
    padding-top: 20px;
  }
  .logo {
    margin: auto;
    width: 25%;
    height: auto;
  }

  .location-elements {
    margin: 0px, auto;
    text-align: center;
  }

  .fa-map-marker-alt {
    padding: 3px 5px;
    font-size: large;
  }

  .col-lg {
    padding-top: 25px;
  }
  .weather-elements {
    margin-top: 70px;
    margin-left: 25px;
  }

  .weather-element-temp {
    margin-top: 20px;
    margin-right: 25px;
  }
  .prediction {
    text-align: center;
    width: 90%;
  }
  .forecast-row {
    margin-top: 20px;
  }
  .forecast {
    width: 19%;
  }
  .forecast-time {
    font-size: 12px;
  }
  .forecast-temp {
    font-size: 14px;
    text-align: center;
  }

  .icon {
    margin: 0, auto;
    padding: 0px;
  }
  .prediction p {
    width: 67px;
    height: 120px;
    padding: 0px;
    margin-bottom: 0px;
  }
}
